version: "1.0"

services:
  backend:
    build: ./backend
    command: gunicorn backend.asgi -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    volumes:
      - ./backend:/usr/src/backend
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env.dev
    depends_on:
      - postgres
  frontend:
    build: ./frontend
    command: yarn run dev
    volumes:
      - ./frontend:/usr/src/frontend-dev
    ports:
      - 3000:3000
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.dev
    stdin_open: true
    environment:
      CHOKIDAR_USEPOLLING: "true"
  postgres:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./backend/.env.dev

volumes:
  postgres_data:
