version: "1.0"

services:
  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/usr/src/backend
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env.dev
  frontend:
    build: ./frontend
    command: yarn run dev
    volumes:
      - ./frontend:/usr/src/frontend
    ports:
      - 3000:3000
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.dev
    stdin_open: true
    environment:
      CHOKIDAR_USEPOLLING: "true"
